@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!DOCTYPE html>
<html lang="zxx">
<body>
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
                <!--left-->
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="~/images/b5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <h3>
                            Biz Kimiz & Misyonumuz
                        </h3>
                        @foreach (var a in Model)
                        {
                            <p>
                                @a.AboutDetails1
                            </p>
                            <p>
                                @a.AboutDetails2
                            </p>
                        }

                        <a href="https://cardomie.com/FerhatKaplan" class="btn btn-primary read-m">Tüm Likler</a>
                    </div>
                </div>
                @await Html.PartialAsync("_Aside")
            </div>
        </div>
    </section>
</body>

</html>