
<aside class="col-lg-4 agileits-w3ls-right-blog-con text-left">
    <div class="right-blog-info text-left">
        <div class="tech-btm">
            <img src="~/images/banner1.jpg" class="card-img-top img-fluid" alt="">
        </div>
        <h4>Bilgi Edinmek İçin Abone Ol!</h4>
        @await Html.PartialAsync("~/Views/NewsLatter/SubscribeMail.cshtml")
        @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")
        <div class="tech-btm">
            @await Component.InvokeAsync("CategoryList")
        </div>
        @await Component.InvokeAsync("WriterLastBlog")      
    </div>
</aside>
