@*@using EntityLayer.Concrete
@model IEnumerable<Category>
<h4>Kategoriler</h4>
<ul class="list-group single">
    @foreach (var c in Model)
    {
        <li class="list-group-item d-flex justify-content-between align-items-center">
            @c.CategoryName
            <span class="badge badge-primary badge-pill">@c.Blogs.Count()</span>
        </li>
    }
</ul>*@
kategoriler